{% extends 'base.html.twig' %}

{% block title %}Modifier l'objet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'objet</h1>
        <div class="container">
        {{ form(formulaire) }}
    </div>
    </div>
{% endblock %}
